header {
	background-color: white;
        height: 60px;
        width: 100%;
        border-bottom: 1px solid #cccccc;
}

header .logo {
	background-image: url(/web_static/images/logo.png);
	margin-left: 20px;
        height: 100%;
	background-repeat: no-repeat;
}
